.box-enter {
  width: 200px;
  height: 200px;
  opacity: 0;
  margin-left: 500px;
  background-color: aquamarine;
}
.box-enter-active {
  width: 200px;
  height: 200px;
  opacity: 1;
  margin-left: 0px;
  transition: all 3s;
  background-color: aquamarine;
}
.box-enter-done {
  width: 200px;
  height: 200px;
  opacity: 0;
  margin-left: 500px;
  transition: all 3s;
  background-color: aquamarine;
}
